<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        Anime Pfp
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="healer-op">
    <meta property="og:image" content="<%= source %>">
    <meta name="twitter:card" content="<%= source %>">
    <meta name="description" content="Get Free Anime Pfp Daily Updated" />
    <link rel="icon" href="<%= source %>" type="image/gif" sizes="16x16">
</head>
<img src="<%= source %>">